.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
  gap: 1rem;
}
.link {
  color: grey;
}
.auth {
  display: flex;
  gap: 1rem;
}
.login {
  color: grey;
  background: transparent;
}
.signup {
  color: white;
  background-color: hsl(180, 66%, 49%);
  border-radius: 25px;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
}
